name: Echo Test

on:
  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

jobs:
  secret-generator:
    runs-on: ubuntu-latest
    outputs:
      secret: ${{ steps.generate-step.outputs.mysecret }}
    steps:
      - id: generate-step
        run: |
          mysecret=$((RANDOM))
          echo "mysecret value: $mysecret"
          echo "::add-mask::$mysecret"
          echo "mysecret=$mysecret" >> "$GITHUB_OUTPUT"
  secret-consumer:
      runs-on: ubuntu-latest
      needs: secret-generator
      steps:
      - name: use secret
        run: |
          RETRIEVED_SECRET="${{ needs.secret-generator.outputs.secret }}"
          echo "::add-mask::$RETRIEVED_SECRET"
          echo "We retrieved our masked secret: $RETRIEVED_SECRET"
 